<header class="toolbar">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
</header>
<main>
  <div class="p-d-inline">Displayed as inline.</div>
  <div class="p-d-flex">Displayed as a flexbox container.</div>
  <div class="p-d-block p-d-lg-inline">Inline for larger screens and block for others.</div>
  <div class="p-d-md-none">Visible on a Small Screen</div>
  <div class="p-d-none p-d-md-inline-flex">Hidden on a Small Screen</div>
  <div class="p-d-none p-print-block">Only visible when printed.</div>
  <div class="p-d-block p-print-none">Not available for printing.</div>
  <div class="p-shadow-1">A</div>
  <div class="p-shadow-24">B</div>
</main>
<footer>
  <span>Welcome {{info}}</span>
  &nbsp;
  <label>
    <input type="text" [(ngModel)]="info">
  </label>
</footer>
<router-outlet></router-outlet>
